NEXT_PUBLIC_BASE_URL=https://chlps-backend.onrender.com/api/v1
NEXT_CLOUDINARY=FKXBftZOrUShRe-GzMIvBDVWe24
NEXT_PUBLIC_CLOUDINARY=FKXBftZOrUShRe-GzMIvBDVWe24
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=chlps
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=FKXBftZOrUShRe-GzMIvBDVWe24
