NEXT_PUBLIC_BASE_URL=https://chlps-backend.onrender.com/api/v1
CLOUDINARY_CLOUD_NAME=chlps
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=chlps
CLOUDINARY_API_KEY=CPftzjrjkwkW7qsqX4FtSHUgaUU
NEXT_PUBLIC_CLOUDINARY_API_KEY=CPftzjrjkwkW7qsqX4FtSHUgaUU
CLOUDINARY_API_SECRET=FKXBftZOrUShRe-GzMIvBDVWe24
NEXT_CLOUDINARY=FKXBftZOrUShRe-GzMIvBDVWe24
NEXT_PUBLIC_CLOUDINARY=FKXBftZOrUShRe-GzMIvBDVWe24
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=FKXBftZOrUShRe-GzMIvBDVWe24
